.footer-info-heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: left;
}
.footer-info-list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.footer-info-list li a {
  text-decoration: none;
  color: #848484;
  transition: 0.3s;
}
.footer-info-list li a:hover {
  color: #a5a5a5;
}
